@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-overpass-regular), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-overpass-bold), sans-serif;
}

p {
  font-weight: 100;
}

.bg {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg {
  background-image: url("/images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-bg,
.signup-bg,
.forgot-bg {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-btn,
.signup-btn,
.send-btn {
  border: none !important;
}

.login-btn:hover,
.signup-btn:hover,
.send-btn:hover {
  background: #06856d !important;
  color: #ffffff !important;
}

.mesh {
  background-color: #f7f7f7; /* Light background color */
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 70%,
      transparent 90%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1) 50%, transparent 90%);
  background-size: 7px 7px; /* Size of the net mesh */
}

.side-nav {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.side-nav:hover {
  background-color: #f0fffd;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.side-nav p {
  font-size: 1rem; /* increase text size */
}
.side-nav svg {
  font-size: 1.5rem; /* increase icon size */
}
